OTEL_SDK_DISABLED=true
CREWAI_TRACING_ENABLED=false
#This one is for crewai to handle, i leave it there and optional to remove
SECRET_KEY= #Your jwt secret stays here
ALLOW_ORIGIN=#Allow origin for CORS
DOMAIN=#Domain for CORS
GROQ_API_KEY=#Groq api key set here
COHERE_API_KEY=#Cohere api key set here
CLIENT_USER=#Milvus/Zilliz cloud configuration set here
CLIENT_PASSWORD=#Milvus/Zilliz cloud configuration set here
CLIENT_SERVER_NAME=#Milvus/Zilliz cloud configuration set here
CLIENT_URI=#Milvus/Zilliz cloud configuration set here
CLIENT_TOKEN=#Milvus/Zilliz cloud configuration set here

POSTGRES_URL=#Database url set here
DATABASE_URL=Empty
DB_USER=#POSTGRES USER
DB_PASS=#POSTGRES PASSWORD
DB_HOST=#DB OR LOCALHOST
DB_PORT=#PORT
DB_NAME=#POSTGRES NAME
